{% extends 'layout.html.twig' %}
{% block title %}Passwort bearbeiten{% endblock %}
{% block styles %}{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="container">
        <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 p-r-30 m-tb-6">
                <a href="{{ path('index') }}" class="breadcrumb-item f1-s-3 cl9">
                    Homepage
                </a>

                <span class="breadcrumb-item f1-s-3 cl9">
                    Passwort bearbeiten
				</span>
            </div>
        </div>
    </div>

    <!-- Content -->
    <section class="bg0 p-b-140 p-t-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-30">
                    <div class="p-r-10 p-r-0-sr991">
                        <!-- Leave a comment -->
                        <div>
                            <h4 class="f1-l-4 cl3 p-b-12">
                               Bearbeiten Sie Ihr Passwort
                            </h4>

                            <form method="post">
                                {% set flashes = app.flashes %}
                                {% if flashes %}<div class="alert alert-info">{{ flashes.message[0] }}</div>{% endif %}
                                <input required class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="password" name="old_password" placeholder="Altes Passwort">
                                <input required class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="password" name="password" placeholder="Neues Passwort">
                                <button type="submit" id="addComment" class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
                                    Bearbeiten
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-md-10 col-lg-4 p-b-30">
                    <div class="p-l-10 p-rl-0-sr991 p-t-70">
                        <!-- Category -->
                        <div class="p-b-60">
                            <div class="how2 how2-cl4 flex-s-c">
                                <h3 class="f1-m-2 cl3 tab01-title">
                                    Kategorie
                                </h3>
                            </div>

                            <ul class="p-t-35">
                                {% for category in categories %}
                                    <li class="how-bor3 p-rl-4">
                                        <a href="{{ path('news_category', {category: category.id, title: category.title}) }}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                                            {{ category.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Popular Posts -->
                        <div class="p-b-30">
                            <div class="how2 how2-cl4 flex-s-c">
                                <h3 class="f1-m-2 cl3 tab01-title">
                                    Popular Post
                                </h3>
                            </div>

                            <ul class="p-t-35">
                                {% for news in popularsNews %}
                                    <li class="flex-wr-sb-s p-b-30">
                                        <a href="{{ path('news_detail', {news: news.id, title: news.title}) }}" class="size-w-10 wrap-pic-w hov1 trans-03">
                                            <img src="{{ news.image }}" alt="IMG">
                                        </a>

                                        <div class="size-w-11">
                                            <h6 class="p-b-4">
                                                <a href="{{ path('news_detail', {news: news.id, title: news.title}) }}" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                    {{ news.title }}
                                                </a>
                                            </h6>
											<span class="f1-s-3">
												{{ news.createdat | date('M d') }}
											</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}{% endblock %}