{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row m-3">
    <div class="col-md-3"></div>
    <div class="col-md-6 p-4" style="box-shadow: #5f5d5d 3px 3px 5px">
        <div class="p-4 mb-4" style="background: #17b978; color: white;">
            <h1>RxNews</h1>
            <h6>loggen Sie ein, um Neuigkeiten zu kommentaren</h6>
        </div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" placeholder="Ihre E-mail" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="Ihr Passwort" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <button class="btn btn-dark btn-block mt-3" type="submit">
                EINLOGGEN
            </button>
            <div class="form-group text-center mt-1">
                <a href="{{ path('app_register') }}"><small>Ich habe kein Konto</small></a>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
