{% extends 'layout.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
    <div class="how2 how2-cl4 flex-s-c mt-3">
        <h3 class="f1-m-2 cl3 tab01-title">
            Kategorien
        </h3>
        <a href="{{ path('category_new') }}" class="float-right text-success">Fügen Sie eine Kategorie hinzu <i class="fa fa-plus-circle"></i></a>
    </div>
    {% set flashes = app.flashes %}
    {% if flashes %}<div class="alert alert-success">{{ flashes.custom_success[0] }}</div>{% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Beschreibung</th>
                <th>Image</th>
                <th>Createdat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.image }}</td>
                <td>{{ category.createdat | date('d.M.Y') }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">kein Datasatz gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
