{% extends 'layout.html.twig' %}
{% block title %}Startseite{% endblock %}
{% block styles %}{% endblock %}

{% block body %}
    <!-- Headline -->
    <div class="container">
        <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
				<span class="text-uppercase cl2 p-r-8">
					Trending Now:
				</span>

                <span class="dis-inline-block cl6 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Interest rate angst trips up US equity bull market
					</span>

					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Designer fashion show kicks off Variety Week
					</span>

					<span class="dis-inline-block slide100-txt-item animated visible-false">
						Microsoft quisque at ipsum vel orci eleifend ultrices
					</span>
				</span>
            </div>

            <!-- SEARCH
            <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
                <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </div>
            -->
        </div>
    </div>

    <!-- Feature post -->
    <section class="bg0">
        <div class="container">
            <div class="row m-rl--1">
                {% if lastFournews | length <= 0%}PUTAIN{% endif %}
                {% if lastFournews | length > 0%}
                    <div class="{% if lastFournews | length == 1%}col-md-12 {% else %} col-md-6 {% endif %}p-rl-1 p-b-2">
                        <div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url({{ asset(lastFournews[0].image) }});">
                            <a href="{{ path('news_detail', {'news': lastFournews[0].id, 'title': lastFournews[0].title}) }}" class="dis-block how1-child1 trans-03"></a>

                            <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                                <a href="{{ path('news_category', {'category': lastFournews[0].category.id, 'title': lastFournews[0].category.title}) }}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                                    {{ lastFournews[0].category.title }}
                                </a>

                                <h3 class="how1-child2 m-t-14 m-b-10">
                                    <a href="{{ path('news_detail', {'news': lastFournews[0].id, 'title': lastFournews[0].title}) }}" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
                                        {{ lastFournews[0].title }}
                                    </a>
                                </h3>

                                <span class="how1-child2">
								<span class="f1-s-3 cl11">
									{{ lastFournews[0].createdat | date('M d') }}
								</span>
							</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-6 p-rl-1">
                    <div class="row m-rl--1">
                        {% if lastFournews | length > 1%}
                            <div class="col-12 p-rl-1 p-b-2">
                                <div class="bg-img1 {% if lastFournews | length == 2%}size-a-3{% else %}size-a-4{% endif %} how1 pos-relative" style="background-image: url({{ asset(lastFournews[1].image) }});">
                                    <a href="{{ path('news_detail', {'news': lastFournews[1].id, 'title': lastFournews[1].title}) }}" class="dis-block how1-child1 trans-03"></a>

                                    <div class="flex-col-e-s s-full p-rl-25 p-tb-24">
                                        <a href="{{ path('news_category', {'category': lastFournews[1].category.id, 'title': lastFournews[1].category.title}) }}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                                            {{ lastFournews[1].category.title }}
                                        </a>

                                        <h3 class="how1-child2 m-t-14">
                                            <a href="{{ path('news_detail', {'news': lastFournews[1].id, 'title': lastFournews[1].title}) }}" class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
                                                {{ lastFournews[1].title }}
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if lastFournews | length > 2 %}
                            <div class="{% if lastFournews | length == 3 %}col-sm-12{% else %}col-sm-12{% endif %} p-rl-1 p-b-2">
                                <div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url({{ asset(lastFournews[2].image) }});">
                                    <a href="{{ path('news_detail', {'news': lastFournews[2].id, 'title': lastFournews[2].title}) }}" class="dis-block how1-child1 trans-03"></a>

                                    <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                                        <a href="{{ path('news_category', {'category': lastFournews[2].category.id, 'title': lastFournews[2].category.title}) }}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                                            {{ lastFournews[2].category.title }}
                                        </a>

                                        <h3 class="how1-child2 m-t-14">
                                            <a href="{{ path('news_detail', {'news': lastFournews[2].id, 'title': lastFournews[2].title}) }}" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
                                                {{ lastFournews[2].title }}
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if lastFournews | length > 3 %}
                            <div class="col-sm-6 p-rl-1 p-b-2">
                                <div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url({{ asset(lastFournews[3].image) }});">
                                    <a href="{{ path('news_detail', {'news': lastFournews[3].id, 'title': lastFournews[3].title}) }}" class="dis-block how1-child1 trans-03"></a>

                                    <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                                        <a href="{{ path('news_category', {'category': lastFournews[3].category.id, 'title': lastFournews[3].category.title}) }}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                                            {{ lastFournews[3].category.title }}
                                        </a>

                                        <h3 class="how1-child2 m-t-14">
                                            <a href="{{ path('news_detail', {'news': lastFournews[3].id, 'title': lastFournews[3].title}) }}" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
                                                {{ lastFournews[3].title }}
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Post -->
    <section class="bg0 p-t-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <div class="p-b-20">
                        {% for categoryWithNews in categoriesWithNews %}
                            {% if categoryWithNews.news | length > 0 %}
                                <div class="tab01 p-b-20">
                                    <div class="tab01-head how2 how2-cl2 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                                        <!-- Brand tab -->
                                        <h3 class="f1-m-2 cl13 tab01-title">
                                            {{ categoryWithNews.category.title }}
                                        </h3>

                                        <!--  -->
                                        <a href="{{ path('news_category', {'category':categoryWithNews.category.id, 'title':categoryWithNews.category.title}) }}" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03">
                                            alles sehen
                                            <i class="fs-12 m-l-5 fa fa-caret-right"></i>
                                        </a>
                                    </div>


                                    <!-- Tab panes -->
                                    <div class="tab-content p-t-35">
                                        <!-- - -->
                                        <div class="tab-pane fade show active" id="tab2-2" role="tabpanel">
                                            <div class="row">
                                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                                    <!-- Item post -->
                                                    <div class="m-b-30">
                                                        <a href="{{ path('news_detail', {'news': categoryWithNews.news[0].id, 'title': categoryWithNews.news[0].title}) }}" class="wrap-pic-w hov1 trans-03">
                                                            <img src="{{ categoryWithNews.news[0].image }}" alt="IMG">
                                                        </a>

                                                        <div class="p-t-20">
                                                            <h5 class="p-b-5">
                                                                <a href="{{ path('news_detail', {'news': categoryWithNews.news[0].id, 'title': categoryWithNews.news[0].title}) }}" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                                    {{ categoryWithNews.news[0].title }}
                                                                </a>
                                                            </h5>

                                                            <span class="cl8">
                                                            <a href="{{ path('news_category', {'category': categoryWithNews.news[0].category.id, 'title': categoryWithNews.news[0].category.title}) }}" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                                {{ categoryWithNews.category.title }}
                                                            </a>

                                                            <span class="f1-s-3 m-rl-3">
                                                                -
                                                            </span>

                                                            <span class="f1-s-3">
                                                                {{ categoryWithNews.news[0].createdat | date('M d') }}
                                                            </span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                                    {% for news in categoryWithNews.news %}
                                                        {% if loop.index != 0 %}
                                                            <div class="flex-wr-sb-s m-b-30">
                                                                <a href="{{ path('news_detail', {'news': news.id, 'title': news.title}) }}" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                                    <img src="{{ news.image }}" alt="IMG">
                                                                </a>

                                                                <div class="size-w-2">
                                                                    <h5 class="p-b-5">
                                                                        <a href="{{ path('news_detail', {'news': news.id, 'title': news.title}) }}" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                            {{ news.title }}
                                                                        </a>
                                                                    </h5>

                                                                    <span class="cl8">
                                                                        <a href="{{ path('news_category', {'category': news.category.id, 'title': news.category.title}) }}" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                            {{ news.category.title }}
                                                                        </a>

                                                                        <span class="f1-s-3 m-rl-3">
                                                                            -
                                                                        </span>

                                                                        <span class="f1-s-3">
                                                                            {{ news.createdat | date('M d') }}
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <p class="text-center">Keine Nachrichten verfügbar</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-10 col-lg-4">
                    <div class="p-l-10 p-rl-0-sr991 p-b-20">
                        <!--  -->
                        <div>
                            <div class="how2 how2-cl4 flex-s-c">
                                <h3 class="f1-m-2 cl3 tab01-title">
                                    Most Popular
                                </h3>
                            </div>

                            <ul class="p-t-35">
                                {% for news in popularsNews %}
                                    <li class="flex-wr-sb-s p-b-22">
                                        <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                            {{ loop.index }}
                                        </div>

                                        <a href="{{ path('news_detail', {news: news.id, title: news.title}) }}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                            {{ news.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!--  -->
                        <div class="flex-c-s p-t-8">
                            <a href="#">
                                <img class="max-w-full" src="images/banner-02.jpg" alt="IMG">
                            </a>
                        </div>

                        <!--  -->
                        <div class="p-t-50">
                            <div class="how2 how2-cl4 flex-s-c">
                                <h3 class="f1-m-2 cl3 tab01-title">
                                    Stay Connected
                                </h3>
                            </div>

                            <ul class="p-t-35">
                                <li class="flex-wr-sb-c p-b-20">
                                    <a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-facebook fs-16 cl0 hov-cl0">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>

                                    <div class="size-w-3 flex-wr-sb-c">
										<span class="f1-s-8 cl3 p-r-20">
											6879 Fans
										</span>

                                        <a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
                                            Like
                                        </a>
                                    </div>
                                </li>

                                <li class="flex-wr-sb-c p-b-20">
                                    <a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-twitter fs-16 cl0 hov-cl0">
                                        <span class="fab fa-twitter"></span>
                                    </a>

                                    <div class="size-w-3 flex-wr-sb-c">
										<span class="f1-s-8 cl3 p-r-20">
											568 Followers
										</span>

                                        <a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
                                            Follow
                                        </a>
                                    </div>
                                </li>

                                <li class="flex-wr-sb-c p-b-20">
                                    <a href="#" class="size-a-8 flex-c-c borad-3 size-a-8 bg-youtube fs-16 cl0 hov-cl0">
                                        <span class="fab fa-youtube"></span>
                                    </a>

                                    <div class="size-w-3 flex-wr-sb-c">
										<span class="f1-s-8 cl3 p-r-20">
											5039 Subscribers
										</span>

                                        <a href="#" class="f1-s-9 text-uppercase cl3 hov-cl10 trans-03">
                                            Subscribe
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-55">
                            <h5 class="f1-m-5 cl0 p-b-10">
                                Newsletter
                            </h5>

                            <p class="f1-s-1 cl0 p-b-25">
                                <!-- Get all latest content delivered to your email a few times a month. -->
                                Lassen Sie sich mehrmals im Monat die neuesten Inhalte per E-Mail übermitteln.
                            </p>
                            <div id="message"></div>
                            <form id="addForm" action="{{ path('news_subscribe') }}" class="size-a-9 pos-relative">
                                <input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" name="email" placeholder="E-mail">
                                <button id="btnSubscribe" class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        $('#addForm').on('submit', function (e) {
            e.preventDefault();
            var url = $(this).attr('action');
            var data = $(this).serialize();
            $("#message").html('');
            $.ajax({
                url: url,
                data: data,
                type: 'post',
                beforeSend: function () {
                    $("#message").html("<span class='text-warning'>Warte ein Moment...</span>");
                    $('#btnSubscribe').prop({disabled: true});
                },
                complete: function () {
                    $('#btnSubscribe').prop({disabled: false});
                },
                success: function (data) {
                    if(data.status){
                        $("#message").html("<span class='text-light'>"+data.message+"</span>");
                    }else{
                        $("#message").html("<span class='text-danger'>"+data.message+"</span>");
                    }
                },
                error: function () {
                    $("#message").html("<span class='text-warning'>Stelle sicher, dass Sie eine Internetverbindung haben</span>");
                }
            })
        });
    </script>
{% endblock %}