{% extends 'layout.html.twig' %}

{% block title %}Nachrichten{% endblock %}

{% block body %}
<div class="container-fluid mb-4">
    <div class="how2 how2-cl4 flex-s-c mt-3">
        <h3 class="f1-m-2 cl3 tab01-title">
            Nachrichten
        </h3>
        <a href="{{ path('news_new') }}" class="float-right text-success">Fügen Sie eine Nachricht hinzu <i class="fa fa-plus-circle"></i></a>
    </div>
    <div class="how2 flex-s-c mt-3">
        <form class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6 float-right" style="display: contents">
            <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="q" placeholder="Suchen...">
            <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                <i class="zmdi zmdi-search"></i>
            </button>
        </form>
    </div>
    {% set flashes = app.flashes %}
    {% if flashes %}<div class="alert alert-success">{{ flashes.custom_success[0] }}</div>{% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Inhalt</th>
                <th>Hinzugefügt am</th>
                <th>Bearbeitet am</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.title }}</td>
                <td>{{ news.content | slice(0, 200) }}...</td>
                <td>{{ news.createdat ? news.createdat|date('d.M.Y H:i') : '' }}</td>
                <td>{{ news.updatedat ? news.updatedat|date('d.M.Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">siehe</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">kein Datasatz gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if news | length == 3 or app.request.get('p') != 0 %}
        <div class="col-md-10">
            <div class="flex-wr-c-c m-rl--7 p-t-28">
                <a href="{% if app.request.get('p') == 0 or app.request.get('p') is not defined  %}#{% else %}?q={{ app.request.get('q') }}&p={{ app.request.get('p') - 3 }}{% endif %}" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7 pagi-active"> < </a>
                <a href="{% if news | length < 3 %}#{% else %}?q={{ app.request.get('q') }}&p={{ app.request.get('p') + 3 }}{% endif %}" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7"> > </a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
