{% extends 'base.html.twig' %}

{% block title %}Emails index{% endblock %}

{% block body %}
    <h1>Emails index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Createdat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr>
                <td>{{ email.id }}</td>
                <td>{{ email.email }}</td>
                <td>{{ email.createdat ? email.createdat|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('emails_show', {'id': email.id}) }}">show</a>
                    <a href="{{ path('emails_edit', {'id': email.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emails_new') }}">Create new</a>
{% endblock %}
