{% extends 'base.html.twig' %}

{% block title %}Emails{% endblock %}

{% block body %}
    <h1>Emails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ email.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ email.email }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ email.createdat ? email.createdat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('emails_index') }}">back to list</a>

    <a href="{{ path('emails_edit', {'id': email.id}) }}">edit</a>

    {{ include('emails/_delete_form.html.twig') }}
{% endblock %}
