<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('images/icons/favicon.png') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/fontawesome-5.0.8/css/fontawesome-all.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/util.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    {% block styles %}{% endblock %}
    <!--===============================================================================================-->
</head>
<body class="animsition">

<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                <div class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								New York, NY
							</span>

							<img class="m-b-1 m-rl-8" src="images/icons/icon-night.png" alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>

                    <a href="#" class="left-topbar-item">
                        über uns
                    </a>

                    {% if app.user is null %}
                        <a href="{{ path('app_register') }}" class="left-topbar-item">
                            anmelden
                        </a>
                        <a href="{{ path('app_login') }}" class="left-topbar-item">
                            einloggen
                        </a>
                    {% else %}
                        <a href="{{ path('app_logout') }}" class="left-topbar-item">
                            abmelden
                        </a>
                        <a href="{{ path('change_password') }}" class="left-topbar-item">
                            Passwort bearbeiten
                        </a>
                    {% endif %}
                </div>

                <div class="right-topbar">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-pinterest-p"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-vimeo-v"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="{{ path('index') }}"><img src="{{ asset('images/icons/logo-01.png') }}" alt="IMG-LOGO"></a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								New York, NY
							</span>

							<img class="m-b-1 m-rl-8" src="{{ asset('images/icons/icon-night.png') }}" alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>
                </li>

                <li class="left-topbar">
                    <a href="#" class="left-topbar-item">
                        About
                    </a>
                    {% if app.user is null %}
                        <a href="{{ path('app_register') }}" class="left-topbar-item">
                            Sing up
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="left-topbar-item">
                            Log in
                        </a>
                    {% endif %}
                </li>

                <li class="right-topbar">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-pinterest-p"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-vimeo-v"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="{{ path('index') }}">Homepage</a>
                </li>
                {% for category in categories %}
                    <li>
                        <a href="{{ path('news_category', {category: category.id, title: category.title}) }}">{{ category.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo container">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="{{ path('index') }}"><img src="{{ asset('images/icons/logo-01.png') }}" alt="LOGO"></a>
            </div>

            <!-- Banner -->
            <div class="banner-header">
                <a href="https://themewagon.com/themes/free-bootstrap-4-html5-news-website-template-magnews2/"><img src="{{ asset('images/banner-01.jpg') }}" alt="IMG"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="{{ path('index') }}">
                        <img src="{{ asset('images/icons/logo-01.png') }}" alt="LOGO">
                    </a>

                    <ul class="main-menu">
                        <li class="main-menu-active">
                            <a href="{{ path('index') }}">Homepage</a>
                        </li>
                        {% for categoryWithNews in categoriesWithNews %}
                            <li class="mega-menu-item">
                                <a href="{{ path('news_category', {category: categoryWithNews.category.id, title: categoryWithNews.category.title}) }}">{{ categoryWithNews.category.title }} </a>

                                {% if categoryWithNews.news | length > 0 %}
                                    <div class="sub-mega-menu">
                                        <div class="nav flex-column nav-pills" role="tablist">
                                            <a class="nav-link active" data-toggle="pill" href="#enter-1" role="tab">All</a>
                                        </div>

                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="enter-1" role="tabpanel">
                                                <div class="row">
                                                    {% for news in categoryWithNews.news %}
                                                        <div class="col-3">
                                                            <!-- Item post -->
                                                            <div>
                                                                <a href="{{ path('news_detail', {news: news.id, title: news.title}) }}" class="wrap-pic-w hov1 trans-03">
                                                                    <img src="{{ news.image }}" alt="IMG">
                                                                </a>

                                                                <div class="p-t-10">
                                                                    <h5 class="p-b-5">
                                                                        <a href="{{ path('news_detail', {news: news.id, title: news.title}) }}" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                            {{ news.title }}
                                                                        </a>
                                                                    </h5>

                                                                    <span class="cl8">
																<a href="{{ path('news_category', {category: news.category.id, title: news.category.title}) }}" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.category.title }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{ news.createdat | date('M d') }}
																</span>
															</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                            <li class="mega-menu-item">
                                <a href="{{ path('index') }}">Admin-Funktionen</a>
                                <div class="sub-mega-menu">
                                    <div class="nav flex-column nav-pills" role="tablist">
                                        <a class="nav-link active" data-toggle="pill" href="#enter-1" role="tab">Alle</a>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="enter-1" role="tabpanel">
                                            <div class="row">
                                                <div class="col-3">
                                                    <!-- Item post -->
                                                    <div>
                                                        <a href="{{ path("news_index") }}" class="wrap-pic-w hov1 trans-03">
                                                            <img src="" alt="IMG">
                                                        </a>

                                                        <div class="p-t-10">
                                                            <h5 class="p-b-5">
                                                                <a href="{{ path('news_index') }}" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                    Nachrichten hinzufügen
                                                                </a>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div>
                                                        <a href="{{ path("user_index") }}" class="wrap-pic-w hov1 trans-03">
                                                            <img src="" alt="IMG">
                                                        </a>

                                                        <div class="p-t-10">
                                                            <h5 class="p-b-5">
                                                                <a href="{{ path('user_index') }}" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                    Benutzer
                                                                </a>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div>
                                                        <a href="{{ path("category_index") }}" class="wrap-pic-w hov1 trans-03">
                                                            <img src="" alt="IMG">
                                                        </a>

                                                        <div class="p-t-10">
                                                            <h5 class="p-b-5">
                                                                <a href="{{ path('category_index') }}" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                    Kategorie
                                                                </a>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

{% block body %}{% endblock %}

<!-- Footer -->
<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <a href="{{ path('index') }}">
                            <img class="max-s-full" src="{{ asset('images/icons/logo-02.png') }}" alt="LOGO">
                        </a>
                    </div>

                    <div>
                        <p class="f1-s-1 cl11 p-b-16">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor magna eget elit efficitur, at accumsan sem placerat. Nulla tellus libero, mattis nec molestie at, facilisis ut turpis. Vestibulum dolor metus, tincidunt eget odio
                        </p>

                        <p class="f1-s-1 cl11 p-b-16">
                            Any questions? Call us on (+1) 96 716 6879
                        </p>

                        <div class="p-t-15">
                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-facebook-f"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-twitter"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-pinterest-p"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-vimeo-v"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-youtube"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Popular Posts
                        </h5>
                    </div>

                    <ul>
                        {% for news in popularsNews %}
                            {% if loop.index <= 3 %}
                                <li class="flex-wr-sb-s p-b-20">
                                    <a href="{{ path('news_detail', {news: news.id, title: news.title}) }}" class="size-w-4 wrap-pic-w hov1 trans-03">
                                        <img src="{{ news.image }}" alt="IMG">
                                    </a>

                                    <div class="size-w-5">
                                        <h6 class="p-b-5">
                                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                                {{ news.title }}
                                            </a>
                                        </h6>

                                        <span class="f1-s-3 cl6">
										{{ news.createdat | date('M d') }}
                                </span>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Category
                        </h5>
                    </div>

                    <ul class="m-t--12">
                        {% for category in categories %}
                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="{{ path('news_category', {category: category.id, title: category.title}) }}" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    {{ category.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bg11">
        <div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					<a href="#" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                    </a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <span class="fas fa-angle-up"></span>
    </span>
</div>

<!--===============================================================================================-->
<script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('js/main.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>