{% extends 'layout.html.twig' %}

{% block title %}Benutzerliste{% endblock %}

{% block body %}
    <div class="container-fluid mb-4">
        <div class="how2 how2-cl4 flex-s-c mt-3">
            <h3 class="f1-m-2 cl3 tab01-title">
                Benutzer
            </h3>
            <a href="{{ path('user_new') }}" class="float-right text-success">Fügen Sie einen Admin hinzu <i class="fa fa-plus-circle"></i></a>
        </div>
        {% set flashes = app.flashes %}
        {% if flashes %}<div class="alert alert-success">{{ flashes.custom_success[0] }}</div>{% endif %}
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Createdat</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if app.user.id != user.id %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td>{{ user.createdat ? user.createdat|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="7">kein Datasatz gefunden</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
